{#
/**
 * @file
 * Theme override to display a single page.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="main">
  <header role="banner">
    <div class="headertop">
          <div class="logo"><img src="{{ file_url(node.field_foto_general.entity.uri.value) }}"></div>
          <div class="descripcion">
              <h1>{{ node.label }}</h1>
              <p> {{ node.field_introduccion.value }}</p>
          </div>
      </div>
    </header>
    <div id="ptabs" class="ui-tabs">
      <nav>
        <ul>
            <li><a href="#campanaintegrada">Campaña integrada</a></li>
            {% if node.field_videoe.value %}<li><a href="#tv">TV</a></li>{% endif %}
            {% if node.field_graficaimg.value %}<li><a href="#grafica">Gráfica</a></li>{% endif %}
            {% if node.field_digital_imagen.value %}<li><a href="digital">Digital</a></li>{% endif %}
            {% if node.field_audios.value %}<li><a href="radio">Radio</a></li>{% endif %}
        </ul>
      </nav>

  <section id="case">

    <article class="cuadricula">
     <div id="campanaintegrada">
      <div class="item imagen">
          <img src="{{ file_url(node.field_foto_theinside.entity.uri.value) }}">
        </div>
        <div class="item texto">
          <div class="centrador">
                <h2>The Inside</h2>
                <p>{{ node.field_the_inside.value }}</</p>
            </div>
        </div>
        <div class="item texto" style="">
          <div class="centrador">
                <h2>The Idea</h2>
                <p>{{ node.field_the_idea.value }}</</p>
            </div>
        </div>
        <!--
        <div class="item radio" style="background-image:url({{ file_url('themes/hijury/images/bg_player_test.jpg') }})">
          <div class="centrador">
                <h2>Radio</h2>
                <p>Cuña Ecocopa 30"</p>
                <p><img src="{{ file_url('themes/hijury/images/play.png') }}" class="audioboton"></p>
            </div>
        </div>
      -->
    </div>
    <div id="grafica">
    </div>
    <div id="tv">
    </div>
    <div id="radio">
    </div>
    <div id="digital">
    </div>

          <pre> {{ dump(node.field_foto_theinside) }} </pre>
    </article>


  </section>
</div>
</div>{# /.main #}
